body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.table-component-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("../Assets//Table.png");
  background-size: cover;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.table-component-table-container {
  border-radius: 8px;
  padding: 20px;
  width: 100%;
  max-width: 800px; /* Adjust max-width as needed */
  background-color: #efe7e7;
}

.table-component-table-container h2 {
  text-align: center;
  font-style: italic;
}

.table-wrapper {
  overflow-x: auto; /* Enable horizontal scrolling on smaller screens */
}

.table-component-table {
  font-family: 'Arial', sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.table-component-table th,
.table-component-table td {
  border: 3px solid #dddddd;
  text-align: left;
  padding: 10px;
}

.table-component-table th {
  background-color: #24bc45;
  color: #333;
}

.table-component-table tbody tr:hover {
  background-color: #c9ce22;
}

/* Overlay style for the bar graph */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
}

.overlay.visible {
  visibility: visible;
  opacity: 1;
}

.overlay-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 600px;
  position: relative;
  overflow: auto; /* Added to handle content overflow */
  max-height: 90%; /* Ensures it doesn't exceed viewport height */
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #e74c3c;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .table-component-container {
    padding: 10px;
  }

  .table-component-table-container {
    padding: 10px;
  }

  .overlay-content {
    width: 90%;
  }
}
